lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.yo-rc.json
.grunt
dist/*

src/content/manifest.md
src/scripts/templates.js
src/assets/js/hello.all.js

pids
logs
results

npm-debug.log
node_modules

*.sublime-*
