---
weight: 30
title: History
description: 'History of the manifest'
tags:
  - Manifest
  - DATA
  - Evolution
  - History
  - Chronology
---
<nav>
  <h4><a href="#manifest">Manifest &amp; FAQ history</a></h4>
  {{#timetree this.git-log-master "authorDate"}}
    <a href="#{{this.hash}}">{{this.subject}}</a>
  {{/timetree}}

  <h4><a href="#site">Website history</a></h4>
  {{#timetree this.git-log-site "authorDate"}}
    <a href="#{{this.hash}}">{{this.subject}}</a>
  {{/timetree}}
</nav>
<section id="history">
  <section id="manifest">
    <header>
      <h1>Manifest &amp; FAQ history</h1>
    </header>
    {{> commits this.git-log-master}}
  </section>

  <section id="site">
    <header>
      <h1>Website history</h1>
    </header>
    {{> commits this.git-log-site}}
  </section>
</section>
