---
weight: 20
title: Perceptions
description: 'DATA creations based on data or DATA'
tags:
  - Idea
  - Audio
  - Video

list:
 - title: Commits noise
   tags:
    - Audio
    - Video
---
<ul>
{{#each this.page.data.list}}
  <li>
    <h3>{{this.title}}</h3>
    {{#if this.md}}{{md this.md}}{{/if}}

    {{> tags}}
  </li>
{{/each}}
</ul>
