<span class="date">
  <span class="day">{{moment this format="D"}}</span>
  <span class="month">{{moment this format="MMM"}}</span>
  <span class="year">{{moment this format="YY"}}</span>
</span>
<span class="time">{{moment this format="HH:mm"}}</span>
